.navbar {
  width: 90%;
  justify-self: center;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(50px);
  border-radius: 20px;
  color: #fff;
  position: sticky;
  top: 5px;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.nav-logo {
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: climate crisis;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #fff;
  left: 0;
  bottom: -4px;
  transition: width 0.3s ease-in-out;
}

.nav-links li a:hover::after {
  width: 100%;
}

.nav-links li a:hover {
  color: #fff700;
}
