.PandalVid{
    width: 100%;
    margin: -18% 0 ;
    border-radius: 50px;
}
.PandalCont{
    width: 90%;
    justify-self: center;
}
.PandalCont p{
    width: 80%;
    justify-self: center;
    text-align: center;
    font-size: 1.3rem;
}

.bento .tilted-card-demo-text{
    font-size: 3rem;
    font-family: Climate crisis;
width: 90%;
    padding: 20px;
}
.bento{
     justify-content: center; 
  align-items: center;
}
.Pandals{
    margin: 3rem;
}