.scroll-reveal {
  margin: 20px 0;

}

.scroll-reveal-text {
  font-size: clamp(1.6rem, 4vw, 3rem);
  line-height: 1.5;

font-family: poppins;
  font-weight: 300;
  font-size: 2rem;
  justify-self: center;
  text-align: center;
  width: 80%;
}

.word {
  display: inline-block;
}
