:root{
  width: 100VW;
  font-family: poppins;
  margin: 0;
  padding: 0;

}
.what h1{
  justify-content: center;
  justify-self: center;
  font-size: 4rem;
  font-family: poppins;
  font-weight: 300;
  font-style: italic;
  text-decoration: underline;
}
.what span{
  font-family: Climate crisis;
  text-decoration: none;
}